:root {
    --main-font: 'Nunito Sans', sans-serif;
    --main-color-1: #000;
    --main-color-2: #fff;
    --main-color-3: #E60B0B;
    --main-color-4: #448CFB;
    --main-color-5: #FCBC05;
    --main-color-6: #636363;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-top: -60px;
}

.catalog-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}


/* topnav */

.topnav {
    padding-top: 20px;
    position: absolute;
    right: -65px;
}

.search-form {
    width: 350px;
    padding: 20px 0;
    border: 1px solid var(--main-color-6);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: var(--main-color-2);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.search-form:focus-within {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--main-color-3);
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: var(--main-color-6);
    width: 80%;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url(../img/close.svg);
    cursor: pointer;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}


/* catalog */

.catalog {
    margin-top: 70px;
    display: flex;
}

.container {
    width: 780px;
    margin: 0 auto;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
}

.catalog-header-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--main-color-1);
    margin: 0;
}

.catalog-header-subtitle {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: var(--main-color-6);
    margin: 0;
}

.filterItem {
    background-color: var(--main-color-2);
    border: 1px solid #F1F1F1;
    box-shadow: -5px 10px 15px rgba(22, 22, 22, 0.1);
    color: var(--main-color-1);
    width: 175px;
    height: 241px;
    margin: 2px 2px 30px 2px;
    display: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.show {
    display: block;
}

.courses-wrap {
    margin-top: 70px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#catalogBtn {
    display: flex;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    width: 128px;
    height: 40px;
    background: rgba(118, 118, 128, 0.12);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: var(--main-color-1);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.catalog-btn_first {
    border-radius: 9px 0px 0px 9px;
    -webkit-border-radius: 9px 0px 0px 9px;
    -moz-border-radius: 9px 0px 0px 9px;
    -ms-border-radius: 9px 0px 0px 9px;
    -o-border-radius: 9px 0px 0px 9px;
}

.catalog-btn_last {
    border-radius: 0px 0px 9px 0px;
    -webkit-border-radius: 0px 9px 9px 0px;
    -moz-border-radius: 0px 0px 9px 0px;
    -ms-border-radius: 0px 0px 9px 0px;
    -o-border-radius: 0px 0px 9px 0px;
}

.btn:hover {
    background-color: #ddd;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.btn.active {
    background-color: var(--main-color-3);
    color: var(--main-color-2);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}


/* CARDS */

.filterItem-text {
    padding: 5px 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.filterItem-info {
    display: flex;
    justify-content: space-between;
}

.filterItem-img {
    width: 175px;
    height: 143px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.info-student,
.info-clock {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 9px;
    line-height: 7px;
    color: var(--main-color-6);
    margin: 0;
}

.filterItem-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color-1);
    margin: 0;
}

.filterItem-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-course {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: var(--main-color-2);
    background: var(--main-color-3);
    border: 2px solid var(--main-color-3);
    outline: none;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.add-course:hover {
    background: transparent;
    color: var(--main-color-3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.like-btn svg {
    fill: none;
    stroke: var(--main-color-1);
    cursor: pointer;
}


/* Aside */

.aside {
    width: 338px;
    height: 675px;
    border: 1.5px solid var(--main-color-2);
    /* box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}

.aside-block-title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-color-6);
    display: flex;
    align-items: center;
}

.aside-block-title img {
    margin-right: 7px;
}

.aside-block-img {
    width: 128px;
    height: 103px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.1)
}

.aside-block-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    text-decoration: none;
}

.aside-block-item-title {
    margin: 0;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color-1);
}

.aside-block-item-time {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: var(--main-color-6);
}

.btn-load_more {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border: 2px solid var(--main-color-3);
    border-radius: 20px;
    outline: none;
    padding: 12px 23px;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    margin: 5px auto 70px;
    color: var(--main-color-3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: flex;
    align-items: center;
}

.btn-load_more:hover {
    color: var(--main-color-2);
    background: var(--main-color-3);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.btn-load_more svg {
    fill: var(--main-color-3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin-right: 6px;
}

.btn-load_more:hover svg {
    fill: var(--main-color-2);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}