:root {
    --main-font: 'Nunito Sans', sans-serif;
    --main-color-1: #000;
    --main-color-2: #fff;
    --main-color-3: #E60B0B;
    --main-color-4: #448CFB;
    --main-color-5: #FCBC05;
    --main-color-6: #636363;
}

.header-menu {
    display: flex;
    align-items: center;
    padding-top: 0;
}

.catalog-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}


/* topnav */

.topnav {
    padding-top: 20px;
}

.search-form {
    width: 350px;
    padding: 20px 0;
    border: 1px solid var(--main-color-6);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: var(--main-color-2);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.search-form.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: var(--main-color-6);
    width: 80%;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url(../img/close.svg);
    cursor: pointer;
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}


/* catalog */

.catalog {
    margin-top: 50px;
}

.container {
    width: 760px;
    margin: 0 auto;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
}

.catalog-header-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--main-color-1);
    margin: 0;
}

.catalog-header-subtitle {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: var(--main-color-6);
    margin: 0;
}

.filterItem {
    background-color: var(--main-color-2);
    border: 1px solid #F1F1F1;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.27);
    color: var(--main-color-1);
    width: 175px;
    height: 241px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.show {
    display: block;
}

.courses-wrap {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    outline: none;
    cursor: pointer;
    width: 128px;
    height: 40px;
    border: 1px solid var(--main-color-3);
    background-color: transparent;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: var(--main-color-1);
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}