:root {
    --main-font: 'Nunito Sans', sans-serif;
    --main-color-1: #000;
    --main-color-2: #fff;
    --main-color-3: #E60B0B;
    --main-color-4: #448CFB;
    --main-color-5: #FCBC05;
    --main-color-6: #636363;
}

html,
body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 30px;
}

.header-logo a {
    margin: 0 125px 0 85px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    color: var(--main-color-3);
    text-decoration: none;
    cursor: pointer;
}

.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-photo {
    background-image: url(../img/main-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 536px;
    height: 100vh;
    background-position: 0% 40%;
}

.right-header {
    display: flex;
    justify-content: space-around;
}

#lang option {
    padding: 2px 5px 2px 25px;
    cursor: pointer;
    padding-left: 25px;
    width: 40px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--main-color-1);
}

.change-lang {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.lang-dropdown {
    margin-top: 30px;
}

.lang_btn::after {
    background: rgba(0, 0, 0, 0) url("../img/dropdown.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 16px;
}

.right-header-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--main-color-1);
    margin: 80px 0 0;
}

.right-header-subtitle {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: var(--main-color-6);
    margin: 0;
    text-align: center
}


/* ----LOGIN---- */

.center {
    padding: 40px 0;
    width: 400px;
    z-index: 9999;
}

form .txt-field {
    position: relative;
    border-bottom: 1px solid #E4E4EA;
    margin: 30px 0;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-color-1);
}

.txt-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--main-color-1);
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.txt-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 1px;
    background: var(--main-color-3);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.txt-field input:focus~label,
.txt-field input:valid~label {
    top: -5px;
    color: var(--main-color-3);
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
    width: 100%;
}

.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 6px;
    right: 6px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/open_pass.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(../img/close_pass.svg) 0 0 no-repeat;
}

.pass {
    margin: -5px 0 20px 5px;
    color: var(--main-color-6);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--main-color-2);
    background: var(--main-color-3);
    border-radius: 20px;
    border: 2px solid var(--main-color-3);
    outline: none;
    text-decoration: none;
    padding: 12px 93px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

input[type="submit"]:hover {
    background: transparent;
    color: var(--main-color-3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.tab {
    overflow: hidden;
    background: rgba(118, 118, 128, 0.12);
    width: 400px;
    border-radius: 8.91px;
    margin: 40px 0 0;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px;
    background: rgba(118, 118, 128, 0.12);
    color: var(--main-color-1);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    width: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.tab button.active {
    background: var(--main-color-3);
    border-radius: 8.91px;
    z-index: 1;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--main-color-2);
}

.tabcontent {
    display: none;
    border: none;
    border-top: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


/* with Google */

.google-btn {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--main-color-1);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.login-with {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-with-subtitle {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--main-color-6);
    margin: 0;
}

.login-with-subtitle:before,
.login-with-subtitle:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 1px;
    background-color: var(--main-color-6);
    position: relative;
}

.login-with-subtitle:before {
    left: -20px;
}

.login-with-subtitle:after {
    right: -20px;
}


/* change page */

.change_text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--main-color-6);
    margin: 20px 0 0;
}

.change_link {
    font-weight: 600;
    color: var(--main-color-3);
    text-decoration: none;
}

.change_link:hover {
    text-decoration: underline;
}


/* -------------------MEDIA------------------- */

@media(max-width: 900px) {
    .main {
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main-photo {
        display: none;
    }
    .right-header__text {
        text-align: center;
    }
    .right-header-title {
        font-size: 20px;
        line-height: 27px;
        margin: 50px 0 0;
    }
    .right-header-subtitle {
        font-size: 13px;
        line-height: 18px;
    }
    .tab {
        width: 100%;
        margin: 40px auto 0;
    }
    .tab button.active,
    .tab button {
        font-size: 13px;
        padding: 6px;
    }
    .center {
        padding: 0 0 40px;
        width: 300px;
    }
    form .txt-field {
        font-size: 14px;
        line-height: 19px;
    }
    .login-with-subtitle {
        font-size: 12px;
        line-height: 16px;
    }
    .google-btn {
        font-size: 14px;
        line-height: 19px;
    }
    .google-btn img {
        width: 30px;
    }
    .change_text {
        font-size: 13px;
        line-height: 18px;
    }
    .main-right {
        order: 2;
        width: 100%;
    }
    .header-logo a {
        font-size: 16px;
        margin: 20px;
    }
}