<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПроАрт</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.svg') }}">

</head>

<body>


    <section class="main login">
        <div class="header-logo">
            <a href="index.html">ПроАрт</a>
        </div>

        <div class="main-right">
            <div class="right-header">
                <div class="right-header__text">
                    <h1 class="right-header-title">Вход в аккаунт</h1>
                    <p class="right-header-subtitle">Привет, уже есть аккаунт?</p>
                </div>
            </div>

            <div class="wrapper">

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Email')" id="defaultOpen">Email</button>
                    <button class="tablinks" onclick="openTab(event, 'Phone')">Номер телефона</button>
                </div>

                <div id="Email" class="tabcontent">
                    <div class="center">
                        <form method="post">
                            <div class="txt-field">
                                <input type="text" required>
                                <span></span>
                                <label>Email</label>
                            </div>
                            <div class="txt-field password">
                                <input type="password" id="password-input" name="password" required>
                                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                                <span></span>
                                <label>Пароль</label>
                            </div>
                            <div class="pass">Забыли пароль?</div>
                            <input type="submit" value="Войти">

                        </form>
                    </div>
                </div>

                <div id="Phone" class="tabcontent">
                    <div class="center">
                        <form method="post">
                            <div class="txt-field">
                                <input type="tel" required>
                                <span></span>
                                <label>Номер телефона</label>
                            </div>

                            <input type="submit" value="Войти">
                        </form>
                    </div>
                </div>

            </div>

            <div class="login-with">
                <p class="login-with-subtitle">Войти с использованием</p>

                <a href="" class="google-btn">

                    <img src="{{ url_for('static', filename='img/google_btn.png') }}" alt="Google"> Google
                </a>
            </div>

            <div class="change-page">
                <p class="change_text">Впервые тут?
                    <a href="registration.html" class="change_link">Регистрация</a>
                </p>
            </div>

        </div>

        <div class="lang-dropdown">
            <select class="change-lang" id="lang">
                <option value="/ru/">RU</option>
                <option value="/en/">EN</option>
            </select>
        </div>

        <div class="main-photo"> </div>

    </section>



    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>