<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПроАрт</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.svg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/popUp.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>

</head>

<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <section class="main registration">
        <div class="header-logo">
            <a href="index.html">ПроАрт</a>
        </div>

        <div class="main-right">
            <div class="right-header">
                <div class="right-header__text">
                    <h1 class="right-header-title">Регистрация</h1>
                    <p class="right-header-subtitle">Регистрируйся и присоединяйся!</p>
                </div>
            </div>

            <div class="wrapper">

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Email')" id="defaultOpen">Email</button>
                    <button class="tablinks" onclick="openTab(event, 'Phone')">Номер телефона</button>
                </div>

                <div id="Email" class="tabcontent">
                    <div class="center">
                        <form>
                            <div class="txt-field">
                                <input type="text" id="name" required>
                                <span></span>
                                <label>Имя</label>
                            </div>
                            <div class="txt-field">
                                <input type="text" id="e_mail" required>
                                <span></span>
                                <label>Email</label>
                            </div>
                            <div class="txt-field password">
                                <input type="password" id="password" name="pass" required>
                                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                                <span></span>
                                <label>Пароль</label>
                            </div>
                            <div class="txt-field password">
                                <input type="password" id="second_password" name="pass" required>
                                <a href="#" class="password-control" onclick="return show_hide_secPassword(this);"></a>
                                <span></span>
                                <label>Повторите пароль</label>
                            </div>

                            <input type="submit" value="Регистрация" id="otcBtn" onclick="registration_js();">
                        </form>
                    </div>
                </div>

                <div id="phone" class="tabcontent">
                    <div class="center">
                        <form method="post">
                            <div class="txt-field">
                                <input type="tel" required>
                                <span></span>
                                <label>Номер телефона</label>
                            </div>

                            <input type="submit" value="Регистрация">
                        </form>
                    </div>
                </div>

            </div>



            <div class="change-page">
                <p class="change_text">Уже есть аккаунт?
                    <a href="login.html" class="change_link">Войти</a>
                </p>
            </div>

        </div>

        <div class="lang-dropdown">
            <select class="change-lang" id="lang">
                <option value="/ru/">RU</option>
                <option value="/en/">EN</option>
            </select>
        </div>

        <div class="main-photo"> </div>

    </section>


    <!-- PopUp otc -->

    <div id="otcModal" class="otc-modal">
        <div class="otc-modal-content">
            <div class="otc-modal-header">
                <span class="close">&times;</span>
                <h2 class="otc-modal-title">Прверка кода</h2>
                <p class="otc-modal-text">Введите 6-ти значный код из письма на указанном вами почтовом ящике.</p>
            </div>
            <div class="otc-modal-body">
                <form class="otc" name="one-time-code" action="#">
                    <fieldset>

                        <div class="code-items">
                            <label for="otc-1">Number 1</label>
                            <label for="otc-2">Number 2</label>
                            <label for="otc-3">Number 3</label>
                            <label for="otc-4">Number 4</label>
                            <label for="otc-5">Number 5</label>
                            <label for="otc-6">Number 6</label>
                        </div>

                        <div class="code-input">
                            <input type="number" pattern="[0-9]*" value="" inputtype="numeric" autocomplete="one-time-code" id="otc-1" required>
                            <input type="number" pattern="[0-9]*" value="" inputtype="numeric" id="otc-2" required>
                            <input type="number" pattern="[0-9]*" value="" inputtype="numeric" id="otc-3" required>
                            <input type="number" pattern="[0-9]*" value="" inputtype="numeric" id="otc-4" required>
                            <input type="number" pattern="[0-9]*" value="" inputtype="numeric" id="otc-5" required>
                            <input type="number" pattern="[0-9]*" value="" inputtype="numeric" id="otc-6" required>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>



    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>